.more-icons{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.more-screen .icon-row{
    padding: 12px 0;
}
.more-screen .icon-row__icons{
    width: 64px;
}

.more-suggestions {
    margin-top: 30px;
    border-top: var(--main-border);
    padding-top: 30px;

}

.more-suggestions__title {
     margin-bottom: 20px;
}

.more-suggestions__icons{
    display: flex;
    /* justify-content: center; */

    
}

.more-suggestions__icon{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestions__icon-image{
   width: 60px;
   height: 60px;
   background-color: var(--yellow);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}
.more-suggestions__icon-image i{
    font-size: 32px;
    color: white;
}


.more-icons {
    display: flex;
    flex-direction: column;
}

.more-icons .icon-row {

}

.more-icons .icon-row .icon-row__icons{
    width: 64px;
}